{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="{% static 'images/logo.png' %}" rel="website icon" type="png">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">    
    </head>
    <style>
        html{
        scroll-behavior: smooth;
        width: 100%;
        }
        body {
            background-image: url('{% static 'images/cover.jpg' %}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: 'Open Sans', sans-serif;       
        } 
    </style>
    <body>
        <h1 class=" ml-[20%] mt-[10%] text-4xl font-bold text-black">Personal Finance Management</h1>
        <div class="flex flex-row">
            <p class="text-l text-black text-2xl font-bold ml-[22%] mt-[3%]">Day to day expenses </p>
            <a href ="{% url 'login' %}" target="blank">
                <button class="ml-[20%] mt-[35%] px-8 py-2 text-sm text-black-200 font-semibold rounded-full border border-black hover:text-white hover:bg-blue-800 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-zinc-200 focus:ring-offset-2">Login</button>
            </a>
        </div>    
    </body>
</html>


