{% extends 'base.html' %}
{% block content %}
    <div class="container mx-auto px-4 py-8">
        <div class="max-w-md mx-auto bg-white shadow-md rounded-lg px-8 py-6">
            <h1 class="text-3xl font-semibold mb-6">Create Expense</h1>
            <form method="post">
                {% csrf_token %}
                <div class="grid grid-cols-2 gap-4 mb-4">
                    <!-- Category -->
                    <div class="mb-4">
                        <label class="block text-gray-700 font-semibold mb-2" for="category">Category</label>
                        <select name="category" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500" required>
                            <option value="Education">Education</option>
                            <option value="Books">Books</option>
                            <option value="Eletronics">Eletronics</option>
                            <option value="Travel">Travel</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <!--Description  -->
                    <div class="mb-4">
                        <label for="description" class="block text-gray-700 font-semibold mb-2">Description</label>
                        <textarea name="description" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500" required></textarea><br>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4 mb-4">
                    <!-- Date of expense -->
                    <div class="mb-4">
                        <label for="date">Date of Expense</label>
                        <input type="date" name="date" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500" required>
                    </div>
                    <!-- Amount -->
                    <div class="mb-4">
                        <label for="amount">Amount</label>
                        <input type="number" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500" name="amount" step="0.01" required><br>
                    </div>
                </div>
                <input type="submit" value="Save" class="bg-green-500 hover:bg-red-600 text-white font-semibold px-10 py-3 rounded">
            </form>
        </div>
    </div>
{% endblock content %} 

